numpy
pandas
scikit-learn
matplotlib
seaborn
joblib
torch
torchvision
tensorflow
requests
beautifulsoup4
python-dotenv
langchain-text-splitters
langchain-core
pypdf
pymupdf
tiktoken
fpdf2
pydantic
openai
streamlit
langchain-openai
langchain-community
opensearch-py
rank_bm25
